<section class="section-intro padding-y-sm bg">
    <div class="container">
        <div class="intro-banner-wrap">
            <img src="/images/banners/2.jpg" class="img-fluid rounded" style="width:100%; height:auto;">
        </div>
    </div>
</section>

@code {

}
