<div class="container">
    <div class="row" style="padding:26px 28px 0; border-bottom: solid 1px #555; border-top: solid 1px #555">
        <dl style="list-style:none; width:100%;">
            <dt style="float: left;">NOTE</dt>
            <dd style="float: right;">Home > NOTE</dd>
        </dl>
    </div>
</div>
@code {

}
