@page "/admin"

<CategoryTitle Title="관리자 메인" Link="/admin" AddStyle="background:aqua;" />

<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>상품관리</h2>
            <a href="/admin/product" class="btn btn-primary">상품관리 이동</a>
        </div>
        <div class="col-4">
            <h2>장소관리</h2>
            <a href="/admin/place" class="btn btn-primary">장소관리 이동</a>
        </div>
        <div class="col-4">
            <h2>공지사항</h2>
            <a href="/admin/notice" class="btn btn-primary">공지사항 관리</a>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h2>팝업관리</h2>
            <a href="/admin/popup" class="btn btn-primary">팝업관리 이동</a>
        </div>      
    </div>
</div>
@code {

}
