<section style="margin-bottom: 10px">
    <input type="text" class="form-control" placeholder="상품명 검색"
           @bind-value="@SearchTerm" @bind-value:event="oninput" @onkeyup="SearchChanged" />
</section>
