<section style="margin-bottom: 15px">
    <input type="text" class="form-control" placeholder="글제목 검색"
           @bind-value="@SearchTerm" @bind-value:event="oninput" @onkeyup="SearchChanged" />
</section>
