@page "/note"
@inject HttpClient Http
@inject NavigationManager NavigationManger
<h1>note list</h1>


@if (Notes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="col-sm-12">
        <a class="btn btn-primary" href="/note/create">Create</a>
    </div>
    @if (Notes.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Price</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var note in Notes)
                {
                    <tr>
                        <td>
                            <img src="@note.FilePath" alt="product image" style="width:100px;" />
                        </td>
                        <td class="align-middle">
                            @note.Title
                        </td>
                        <td class="align-middle">
                            @note.Content
                        </td>
                        <td class="align-middle">
                            @note.CreatedBy
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-primary" href="note/detail/@(note.Id.ToString())">Detail</a>
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-danger" href="note/delete/@(note.Id.ToString())">Delete</a>
                            <a class="btn btn-warning" href="note/update/@(note.Id.ToString())">update</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
    }
    else
    {
        <span>
            Loading Notes...
        </span>
    }
}
